*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3AD3DD;
    --secondary-color: #324B4D;
    --tertiary-color: #94B0B2;
  }


/* styling navigation bar  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    height: 4rem;
    padding: 1rem;
}

/* styling logo  */
.logo a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
}

.logo a:hover{
    color: var(--tertiary-color);
    text-transform: capitalize;
}

/* styling navigation menu  */
.nav_menu{
    display: flex;
    justify-content: space-between;
}
.nav_menu ul{
    display: flex;
    align-items: center;
}
.nav_menu ul li{
    list-style: none;
    margin-right: 2rem;
}

.nav_menu ul li a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.1rem;
    text-transform: capitalize;
    font-weight: 700;
}
.nav_menu ul li a .fas{
    padding-right: 0.2rem;
}

/* styling login button  */
.nav_menu>a{
    text-decoration: none;
    color: var(--primary-color);
    margin-left: 0.7rem;
    text-transform: capitalize;
    padding: 0.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.2rem;
}

.nav_menu>.menu{
    display: none;
}